{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "mocha": true,
    },
    "rules": {
        "max-len": "off",
        "func-names": "off",
        "indent": [2, 4],
    },
}
